<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!-- ************************************
    SQLServer
    ***************************************** -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:tldb001.database.windows.net,1433;Initial Catalog=thingsline;Persist Security Info=False;User ID=matu;Password=masa2203!!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"      providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <AppSettings>



    <add key="DefaultSQLConnection" value="Server=tcp:tldb001.database.windows.net,1433;Initial Catalog=thingsline;Persist Security Info=False;User ID=matu;Password=masa2203!!;Connection Timeout=30;" />



    <!-- ************************************
    ストレージ
    <add key="DefaultSQLConnection" value="Server=tcp:tldb001.database.windows.net,1433;Initial Catalog=thingsline;Persist Security Info=False;User ID=matu;Password=masa2203!!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    ***************************************** -->
    <add key="Storage_ConnectString" value="DefaultEndpointsProtocol=https;AccountName=matu666;AccountKey=MzPChTfZXCUxpgGLJIDYK6Vvx0aEFXcaX76NUwGfJsguWLoaA8aZqyVRJad5jYxJIOahb7znjumvCJsntcNf7A==;EndpointSuffix=core.windows.net" />
    <add key="Storage_Container_Photo" value="image" />

    <add key="accountName" value= "matu666" />
    <add key="accessKey" value = "MzPChTfZXCUxpgGLJIDYK6Vvx0aEFXcaX76NUwGfJsguWLoaA8aZqyVRJad5jYxJIOahb7znjumvCJsntcNf7A==" />


    <!-- ************************************
    LINE
    ***************************************** -->
    <add key="GetImgURL1" value ="https://api-data.line.me/v2/bot/message/" />
    <add key="GetImgURL2"  value = "/content" />
    <add key="_CAtoken" value = "PAG0ZG/1HqwEw2CF9LL6l+UYBHPQdWR584bM+V0Dcw4GVdlCn+ScKGBK05eGjCQqtPzG4NSDr3i0Me4IKFZtkxh7/PcFj4qJC1iFO3QytzX7ZrdiONlN93bICeLD3/5pSOWrsy5fToIPj5L8lCilngdB04t89/1O/w1cDnyilFU=" />





  </AppSettings>
  
  
  
  
</configuration>